<!DOCTYPE html>
{% load static %}
<html>
<h1>{{employee}}</h1>
<br><br>
<p> 
    Thank you for registering in the Spring Technical Career Fair - October 15, 2020 Thursday, 1:00 - 6:00.
</p>
<p>
    The following company and confirmation number were successfully added to our database:
</p>
<br>
<p>
    Your spot has been confirmed. If you need to cancel, please do so by October 8, 2020
</p>
<h1>Company:{{name}}</h1>
<h1>Comfirmation Number:{{comnum}}</h1>
<p>
    You will be receiving a link, from Paytrace.net, to pay for your reservation within 48 hours.  
</p>
<p>
   <h5 style="text-indent: 50px;"> This is what the email will have as sender: Ben Duarte - Chico State 	&#60;notifications@paytrace.com></h5>
</p>
<p>
    It will reference your Confirmation Number from above.
</p>
<p>
    Please call me at 530 898-4413 if you do not receive this link within 48 hours.
</p>
<p>
    If you have an information video link, please forward to me and we will add this to emails we will send to students who will be targeted by majors you are recruiting positions for.
</p>
<p>
    The application we will be using is ZOOM. This is the application all students are using on our campus.
</p>
<p>
    The day’s events will be in 3 session of 3 hour blocks. We will be scheduling students when to attend, by major, to your presentation block.  We will know exact break down by October 8th. We want to increase attendance and give students and recruiters best access to each other.  Once you have student in your “Break Out” room, you can easily have other rooms within your “waiting room” to have more of your team speak with students individually.
</p>
<p>
    We plan on having all department chairs work with students in their majors to have resumes, references and project portfolios submitted to us, prior to the event. This will guarantee that the students you meet, will be prepared. We will make their information available to all companies signed up. We hope to have students information to you the first week of October.  This will allow you to seek candidates as they enter your waiting room.

</p>
<p>
    We will make your contact person the co-administrator for your “Break Out” room.  You will be able to control recording function and muting function as needed.  You will also be able to create a link from within your environment to have them visit your website and arrange for students to be directed to your internal processes if you want to continue “interviewing” of students.

</p>
<p>
    If you have an idea to help make this process more efficient, based on your previous experiences, please let me know, so I can get share with our team. It is our goal to give everyone the best experience possible.

</p>
<br>
<h5>Thank you,</h5>
<h5>Ben Duarte</h5>
</html>