
{% extends 'tech_fair/base.html' %}

{% block content %}
{% load static %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<style>

* {
  box-sizing: border-box;
}

img {
  vertical-align: middle;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #333;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

/* Style the body */
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

/* Header/logo Title */
.header {
  padding: 80px;
  text-align: center;
  background: #1abc9c;
  color: white;
}

/* Increase the font size of the heading */
.header h1 {
  font-size: 40px;
}







/* Column container */
.row {  
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  -ms-flex: 30%; /* IE10 */
  flex: 30%;
  background-color: #f1f1f1;
  padding: 20px;
}

/* Main column */
.main {   
  -ms-flex: 70%; /* IE10 */
  flex: 70%;
  background-color: white;
  padding: 20px;
}

/* Fake image, just for this example */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
}
h4 {
    border-bottom: 1px solid black;

}
h1 {
    border-bottom: solid black;
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .row {   
    flex-direction: column;
  }
}


</style>
<body>
<h2>{{ thankyou }}</h2>    
<div class="row">
    <div class="side">
      <h1 class="text-center">Annoucements</h1>
      {% for announce in announces  %}
      <div style="padding:20px">
            <h5>{{announce.date|date:'M d, Y'}}</h5>
            <h2 style="color:rgb(73, 15, 15)"> {{announce.title}} </h2>
            <h4>{{announce.description}}</h4>
    </div>
    {% endfor %}
    </div>
    <div class="main">
        <h1> California State University Chico</h1>
        <h2 style="color:rgb(73, 15, 15)">Technical Career Fair </h2>
        <!--<div class="fakeimg" style="height:200px;">Image</div>-->
    
<div class="container">
    <div class="mySlides">
      <div class="numbertext">1 / 4</div>
      <img src="{% static 'tech_fair/robotarm.jpg' %}" style="width:100%">
    </div>
    
    <div class="mySlides">
      <div class="numbertext">2 / 4</div>
      <img src="{% static 'tech_fair/img1.jpeg' %}" style="width:100%">
    </div

    <div class="mySlides">
      <div class="numbertext">3 / 4</div>
      <img src="{% static 'tech_fair/img2.jpeg' %}" style="width:100%">
    </div>
  
    <div class="mySlides">
      <div class="numbertext">4 / 4</div>
      <img src="{% static 'tech_fair/img3.jpeg' %}" style="width:100%">
    </div>
      
   
      
    <a class="prev" onclick="plusSlides(-1)">❮</a>
    <a class="next" onclick="plusSlides(1)">❯</a>
  
    <div class="caption-container">
      <p id="caption"></p>
    </div>
  
    <div class="row">
      <div class="column" style="text-indent: 15px;">
        <img class="demo cursor" src="{% static 'tech_fair/robotarm.jpg' %}" style="width:100%" height="130px" onclick="currentSlide(1)" alt="John Doe with someone">
      </div>
      <div class="column" style="text-indent: 15px;">
        <img class="demo cursor" src="{% static 'tech_fair/img1.jpeg' %}" style="width:100%" height="130px" onclick="currentSlide(1)" alt="John Doe with someone">
      </div>
      <div class="column" style="text-indent: 15px;">
        <img class="demo cursor" src="{% static 'tech_fair/img2.jpeg' %}" style="width:100%" height="130px" onclick="currentSlide(2)" alt="John Doe with someone">
      </div>
      <div class="column" style="text-indent: 15px;">
        <img class="demo cursor" src="{% static 'tech_fair/img3.jpeg' %}" style="width:100%" height="130px" onclick="currentSlide(3)" alt="John Doe with someone">
      </div>
        
     
    </div>
  </div>
  
  <script>
  var slideIndex = 1;
  showSlides(slideIndex);
  
  function plusSlides(n) {
    showSlides(slideIndex += n);
  }
  
  function currentSlide(n) {
    showSlides(slideIndex = n);
  }
  
  function showSlides(n) {
    var i;
    var slides = document.getElementsByClassName("mySlides");
    var dots = document.getElementsByClassName("demo");
    var captionText = document.getElementById("caption");
    if (n > slides.length) {slideIndex = 1}
    if (n < 1) {slideIndex = slides.length}
    for (i = 0; i < slides.length; i++) {
        slides[i].style.display = "none";
    }
    for (i = 0; i < dots.length; i++) {
        dots[i].className = dots[i].className.replace(" active", "");
    }
    slides[slideIndex-1].style.display = "block";
    dots[slideIndex-1].className += " active";
    captionText.innerHTML = dots[slideIndex-1].alt;
  }
  </script>   
       
    </div>
  </div>
</body>
{% endblock content %}